<main class="main">
  <h1>Deez 2 Spot</h1>
  <p>Convert easily for free your Deezer playlists, loved songs, albums and artists to your Spotify account</p>
  <p>{{ message }}</p>
  <div>
    <label for="userInput">Deezer user ID:</label>
    <input type="text" id="userInput" [(ngModel)]="deezerUID" />
  </div>
  <button class="btn-primary" (click)="getDeezerAlbums()">Get Deezer Albums</button>
  <button class="btn-primary" (click)="getDeezerPlaylists()">Get Deezer Playlists</button>
  <button class="btn-primary" (click)="getDeezerArtists()">Get Deezer Artists</button>
  <!-- <button class="btn-secondary" (click)="fuckOff()">Fuck off</button> -->
  <div class="gradient-break"></div>
  <div class="container" *ngIf="containerTitle !== ''">
    <div class="container-title">{{dataArray?.length + " " + containerTitle}}</div>
    <div class="grid">
      <div class="card" *ngFor="let data of dataArray">
        <img [src]="containerTitle === 'Albums' ? data.cover_medium : data.picture_medium" alt="Cover" class="cover"/>
        <div class="details">
          <h3 class="title">{{ containerTitle === 'Artists' ? data.name : data.title }}</h3>
          <p class="subtitle" *ngIf="containerTitle === 'Albums'">{{data.artist.name}}</p>
          <p class="subtitle" *ngIf="containerTitle === 'Playlists'">{{data.creator.name}}</p>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
